<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
        <section name="tellySorter" type="TellySorter.Configuration, TellySorter" />
    </configSections>
    <nlog>
        <targets>
            <target name="logfile" type="File" fileName="${basedir}/logs/NodusOperandi.${date:format=yyyy-MM-dd}.log" />
            <target name="console" type="Console" error="True" layout="[${longdate}] ${pad:padding=5:inner=${level:uppercase=true}} (${logger}) — ${message}" />
        </targets>
        <rules>
            <logger name="*" minlevel="Trace" writeTo="logfile" />
            <logger name="*" minlevel="Trace" writeTo="console" />
        </rules>
    </nlog>
    <tellySorter DbFile="TellySorter.db" />
	
</configuration>
