<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
        <section name="tellySorter" type="TellySorter.Configuration, TellySorter" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
    <nlog>
        <targets>
            <target name="logfile" type="File" fileName="${basedir}/logs/NodusOperandi.${date:format=yyyy-MM-dd}.log" />
            <target name="console" type="Console" error="True" layout="[${longdate}] ${pad:padding=5:inner=${level:uppercase=true}} (${logger}) — ${message}" />
        </targets>
        <rules>
            <logger name="*" minlevel="Trace" writeTo="logfile" />
            <logger name="*" minlevel="Trace" writeTo="console" />
        </rules>
    </nlog>
    <tellySorter DefaultTargetPath="/Volumes/m/TV/" EpisodeNameFormat="${seriesName} - s${seasonNumberPadded}e${episodeNumberPadded} - ${episodeName}.${fileExtension}" SeriesPathFormat="${seriesName}/Season ${seasonNumberPadded}/">
        <ShowTargetPaths>
        	<ShowTargetPath Path="~/Media/Alt Shows Location/" ShowIds="1,2,3,4" />
        </ShowTargetPaths>
    </tellySorter>
<system.data>
    <DbProviderFactories>
    <remove invariant="System.Data.SQLite.EF6" /><add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" /></DbProviderFactories>
  </system.data></configuration>
