<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
        <section name="tellySorter" type="tellySorter.TellySorterConfiguration, NLog" />
    </configSections>
    <nlog>
        <targets>
            <target name="logfile" type="File" fileName="${basedir}/logs/NodusOperandi.${date:format=yyyy-MM-dd}.log" />
            <target name="console" type="Console" error="True" layout="[${longdate}] ${pad:padding=5:inner=${level:uppercase=true}} (${logger}) — ${message}" />
        </targets>
        <rules>
            <logger name="*" minlevel="Trace" writeTo="logfile" />
            <logger name="*" minlevel="Trace" writeTo="console" />
        </rules>
    </nlog>
    <tellySorter>
        <DefaultTargetPath>/Volumes/m/TV/</DefaultTargetPath>
        <EpisodeNameFormat>${seriesName} - s${seasonNumberPadded}e${episodeNumberPadded} - ${episodeName}.${fileExtension}</EpisodeNameFormat>
        <SeriesPathFormat>${seriesName}/Season ${seasonNumberPadded}/</SeriesPathFormat>
        <EpisodeTargetPaths>
        	<EpisodeTargetPaths>
            	<path>~/Media/Alt Shows Location/</path>
            	<episodeIds>1,2,3,4</episodeIds>
            </EpisodeTargetPaths>
        </EpisodeTargetPaths>
    </tellySorter>
</configuration>
